{% load i18n email_log_filters %}
<div class="oh-modal__dialog-header">
    <button class="oh-modal__close" aria-label="{% trans 'Close' %}">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div
  class="oh-modal__dialog-body oh-modal__dialog-relative"
  style="padding-top: 25px"
>
  {% if instance_ids %}
  <div class="oh-modal__dialog oh-modal__dialog--navigation m-0 p-0">
    <button
      hx-get="{{previous_url}}?{{ids_key}}={{instance_id}}&{{request.GET.urlencode}}"
      hx-target="#genericModalBody"
      class="oh-modal__diaglog-nav oh-modal__nav-prev"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

    <button
      hx-get="{{next_url}}?{{ids_key}}={{instance_id}}&{{request.GET.urlencode}}"
      hx-target="#genericModalBody"
      class="oh-modal__diaglog-nav oh-modal__nav-next"
    >
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
  {% endif %}
{% if log.body %}
  <iframe
    title="{% trans 'Mail content' %}"
    height="500"
    width="100%"
    sandbox
    referrerpolicy="no-referrer"
    srcdoc="{{ log|safe_email_log_body|force_escape }}"
    style="border: 0"
  ></iframe>
{% else %}
  <div class="oh-modal__dialog-title" style="padding:25px;">{{ log.subject }}</div>
{% endif %}
